section#main_header
			.tittle_area.text-center
				.img-header
					img(src="images/logo.jpg")
				.text-tittle 
					h1 FUTURE IMPERFECT
					h3 ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HRML5 UP
			.container
				.row
					.col-md-9
						.tittle-post
							h1 MAGNA SED ADIPISCING
							p  Lorem ipsum dolor sit amet consectetur adipisicing elit
					.col-md-3
						.date-post
							h3 NOVEMBER 1, 2015
						.avatar-post
							p JANE DOE
							.img-avatar
								img(src="images/avatar.jpg")
				.row
					.container.hero-image
						img(src="images/pic01.jpg")
						.hero-description
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nam nihil fugit. Reiciendis accusamus laudantium doloribus, officiis in libero ipsa, ducimus ipsum consequatur nihil quo? Porro explicabo ipsam, facilis. Excepturi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad accusamus placeat natus modi rerum dolores dolorum vero voluptas, dolor, ab exercitationem reiciendis, illum quis fugiat quia voluptatem odio. Quas, eaque? Lorem ipsum dolor sit amet, consectetur adipisicing elit. In magni dicta a, illo mollitia est corrupti explicabo sequi voluptates pariatur modi vitae ipsum autem quaerat fugiat, nisi? Ab reprehenderit, repudiandae!
						.post-options
							.col-md-6
								button.btn CONTINUE READING
							.col-md-6
								span GENERAL
								span
									i.fa.fa-heart 28
								span
									i.fa.fa-comment 128
			nav
				ul.pager
					li: a(href="#")
						i.fa.fa-angle-left
							span Previous
					li: a(href="#")
						span next
						i.fa.fa-angle-right